*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

button{
    border:none;
    background-color: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    color:blue;
}
p{
    font-size:1.2rem;
    line-height: 2rem;
}
.header{
    border-bottom:0.8px solid gray;
    padding:0.5rem 10rem 0.5rem 10rem;
    display:flex;
    justify-content: space-between;
    position:fixed;
    z-index:5;
    width:100%;
    background-color:white;
    top:0;
}
.header img{
    width:10rem;
}
.header .openSidebar{
    width:4rem;
    font-size:2.5rem;
    background-color: white;
    display:none;
}
/* .close{
    display:none;
    transform:translateY(50px)
} */
.sidebar{
    background-color:white;
    margin-left:9rem;
    width:100%;
    color:white;
    height:fit-content;
}
ul{
    display:flex;
    justify-content: space-between;
    color:black;
    list-style-type:none;
}
.sidebar a{
    font-size:1rem;
    color:black;
    font-weight: 200;
}
.sidebar a:hover{
    color:blue;
    text-decoration:underline;
}
.content{
    background:linear-gradient(180deg,#eaeefa, white);
    height:fit-content;
    margin:8rem 10rem;
    border-radius: 2rem;
    font-family: poppins;
    padding: 2rem 0 0 0;
}
.first{
    text-align: center;
}
.first h1{
    font-weight:600;
    font-size:xx-large;
}
.getStarted{
    border-radius:16px;
    background: linear-gradient(90deg, blue 50%,rgb(2, 2, 65),rgb(7, 7, 26));
    color:white;
    font-size:1.2rem;
    padding:0.5rem;
    margin-top:1rem;
}
.getStarted:hover{
    background: rgb(0, 89, 255);
}
.demo{
    border-radius:16px;
    border:1px solid grey;
    padding:0.5rem;
    font-size:1.2rem;
    color:black;
    background:none;
    margin-top:1rem;

}
.demo:hover{
    color:white;
    background-color: orangered;
}
/*arrow buton to hover at the bottom of the screen and take the user to the 
top when clicked*/
.go--up{
    position:fixed;
    right:1rem;
    z-index: 10;
    color:white;
    background-color: rgba(0, 0, 0, 0.651);
    width:fit-content;
    height:fit-content;
    font-size:2.5rem;
    bottom: 1rem;
}
.image01{
    max-width: 40rem;
    max-height:25rem;
    display: block;
    margin:2rem 8rem 2rem 0rem;
}
.img{
    height:5rem;
    width:8rem
}
.logo--display{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    margin:1rem 1.5rem 1rem 1.5rem;
    grid-gap:1rem;

}
.second--content{
    margin:2rem 0rem 0rem 0rem;
    


}
.second--content--grid{
    border:0.1px solid rgba(128, 128, 128, 0.205);
    border-radius:20px;
    padding:1rem;
    margin:1.5rem;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:2rem;
    background-color: white;
}
.second--content--img{
    border-radius:2rem;
    height:30rem;
    width:30rem;
}
.third--content{
    margin:1.5rem;


}
.one{
    grid-area:one;
}
.two{
    grid-area: two;
}
.three{
    grid-area: three;
}
.four{
    grid-area:four;
}
.third--content--grid--cover{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas:"one two three" 
                        "four four four";
    grid-gap: 2rem;
    margin-top:1.5rem;

}
.third--content--grid{
    background-color:white;
    font-weight:bold;
    font-size:3rem;
    padding:2rem;
    border:1px solid rgba(128, 128, 128, 0.205);
    border-radius:1rem;
}
.fourth--content{
    margin-top:5rem;
}
.fourth--content--grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:2rem;

}
.testimony{
    background-image:url("6632b60c40c266c1a5ec2395_blobs3.webp") ;
    background-size: cover;
    background-position: center;
    color:white;
    background-color:black;
    border-radius:2rem;
    padding:4rem;

}
.testimonial--text{
    color:black;
    background-color:white;
    border-radius:2rem;
    width:100%;
    padding:2rem;
    font-size:1.3rem;
    font-weight:500;
    
}